*:root{
  --primary--color: #FDF5E6;
}




* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  body{
    font-family: 'Cormorant Garamond', serif;
    scroll-behavior: smooth;

  }
  hr{
    border: none;
    border-top: 2px solid var(--primary--color);
  
  }


  h1{
    color: var(--primary--color);
  }



  navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
  }
  
  navbar a {
    float: left;
    color: #FDF5E6;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 26px; 
    line-height: 25px;
    border-radius: 4px;
    text-transform: capitalize;
  }
  
  navbar .logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
  }
  
  navbar a:hover {
    background-color: rgba(252, 252, 252, 0.4);
    color: black;
    cursor:pointer;
  }
  

  
  .navbar-right {
    float: right;
  }




.main{
    position: relative;
    background: url('snakersik_maledive_beach_sunset_prestige_luxury_775aed1e-4029-4eca-82a9-110e7e946a3e.png') no-repeat center;
    background-size: cover;
    background-position: center;
    height: 85vh;
    width: 100vw;
    overflow: hidden;
    backdrop-filter: opacity(10%);


}


.container{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    
}

.container > h1{
    color: var(--primary--color);
    font-size: 150px;
    font-weight: 800;
    
    

}

.container > p{
    font-size: 40px;
    color: var(--primary--color);
    font-weight: 600;
}

.btn{
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--primary--color);
}

.btn:hover{
  background-color: rgba(180, 175, 175, 0.4);
  cursor:pointer;
}

.flex-container{
  
  display: flex;
  align-items: center;
  padding-top: 30px;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}








section{
  width: 100vw;
  height: 70vh;
  background-color: #101317;
  overflow: hidden;
}

section > h1{
  padding: 20px;
  font-size: 50px;
  text-align: center;
}

.underline{
  width: 10rem;
  height: 1rem;
  margin-left: auto;
  margin-right: auto;

}





.featured-travel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.featured-travel:hover::before {
  opacity: 0.5; 
}

.featured-travel:hover .featured-description-container{
  transition: opacity 0.7s ease;
  opacity: 1;
}




#section2{
  background-color: #a17c58;
}