*:root {
  --primary--color: #fdf5e6;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  font-family: "Cormorant Garamond", serif;
  scroll-behavior: smooth;
  color: var(--primary--color);
}
hr {
  border: none;
  border-top: 2px solid var(--primary--color);
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #101317;
  top: 0;
  left: 0;
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.underline {
  width: 10rem;
  height: 1rem;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: var(--primary--color);
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

p {
  font-size: 24px;
}

nav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

nav a {
  float: left;
  color: #fdf5e6;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 26px;
  line-height: 25px;
  border-radius: 4px;
  text-transform: capitalize;
}

nav .logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

nav a:hover {
  background-color: rgba(252, 252, 252, 0.4);
  color: black;
  cursor: pointer;
}

.navbar-right a:hover:first-child {
  background-color: unset;
  color: rgba(252, 252, 252, 0.4);
  cursor: pointer;
}

.navbar-right {
  float: right;
}

.main {
  position: relative;
  background: url("snakersik_maledive_beach_sunset_prestige_luxury_775aed1e-4029-4eca-82a9-110e7e946a3e.png")
    no-repeat center;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container > h1 {
  font-size: 8vmin;
  font-weight: 800;
  opacity: 0;
}

@keyframes kenburns-left {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.container > p {
  font-size: 3vmin;
  color: var(--primary--color);
  font-weight: 600;
  opacity: 0;
}

.btn {
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 20vmin;
  height: 50px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 1.4vmin;
  font-weight: 400;
  color: var(--primary--color);
}

.btn:hover {
  background-color: rgba(180, 175, 175, 0.4);
  cursor: pointer;
}

.kenburns-left {
  animation: kenburns-left 7s 1s ease-out both;
}

section {
  width: 100vw;
  height: auto;
  background-color: #101317;
  overflow: hidden;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 50px;
  align-items: center;
  padding-bottom: 50px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  width: 390px;
  transition: transform 1s, opacity 1s;

}
.flex-container-column > p {
  padding: 10px;
  min-height: 250px;
}

.flex-container-column > .underline {
  width: 100%;
}

.navbar-right .icon {
  display: none;
}

.content-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

section > h1 {
  padding-top: 50px;
  font-size: 5vmin;
  text-align: center;
}
#quote {
  background-image: url("snakersik_beatifull_landscape_of_beach_and_mountain_dark_and_go_72756840-fced-4432-a5e3-3e9378a0d741-transformed.jpeg");
  background-color: #101317;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
#quote::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 10, 0, 0.5);

  content: " ";
  top: 0;
  left: 0;
}
#quote > h1 {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  font-style: italic;
  transition: transform 1s, opacity 1s;
}

#author {
  display: block;
  font-style: normal;
  padding-top: 20px;
}
.quot {
  font-size: 70px;
}

.line {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

#about {
  height: 80vh;
}

@media (max-width: 1650px) {
  .flex-container-column {
    width: 45%;
    max-width: 600px;
  }
  .flex-container-column > p {
    font-size: 22px;
  }
}
@media (max-width: 700px) {
  .navbar-right.responsive .icon {
    right: 0;
    top: 0;
    text-align: right;
  }
  .navbar-right.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}

@media (max-width: 700px) {
  .navbar-right a {
    display: none;
  }
  .navbar-right .icon {
    display: block;
  }

  .flex-container-column {
    width: 70%;
  }
  .flex-container-column > p {
    font-size: 20px;
    padding-left: 30px;
  }
  h1 {
    font-size: 26px;
  }

  section > h1 {
    padding-top: 50px;
    font-size: 35px;
    text-align: center;
  }
  .btn {
    font-size: 100%;
    width: 30vmin;
  }
  .container > h1 {
    font-size: 15vmin;
  }
  .container > p {
    font-size: 5vmin;
  }
  #quote > h1 {
    font-size: 30px;
  }
  .quot {
    font-size: 50px;
  }
  .flex-container-column > p
  {
    min-height: auto;
    padding-bottom: 20px;
  }


}
