*:root {
  --primary--color: #fdf5e6;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  scroll-behavior: smooth;
  box-sizing: border-box;


}
body {
  font-family: "Cormorant Garamond", serif;
  scroll-behavior: smooth;
  color: var(--primary--color);
  
}
hr {
  border: none;
  border-top: 2px solid var(--primary--color);
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #101317;
  top: 0;
  left: 0;
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
  
}

.underline {
  width: 10rem;
  height: 1rem;
  margin-left: auto;
  margin-right: auto;

  
}

h1 {
  color: var(--primary--color);
  font-size: 30px;
  text-align: center;
  padding: 10px;
  
}

p {
  font-size: 24px;
}

nav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  
}

nav a {
  float: left;
  color: #fdf5e6;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 26px;
  line-height: 25px;
  border-radius: 4px;
  text-transform: capitalize;
  
}

nav .logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

nav a:hover {
  background-color: rgba(252, 252, 252, 0.4);
  color: black;
  cursor: pointer;
}

.navbar-right a:hover:first-child {
  background-color: unset;
  color: rgba(252, 252, 252, 0.4);
  cursor: pointer;
}

.navbar-right {
  float: right;
}

.main {
  position: relative;
  background: url("snakersik_maledive_beach_sunset_prestige_luxury_775aed1e-4029-4eca-82a9-110e7e946a3e.png")
    no-repeat center;
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
}

.main::after{
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);;
  content: "";
  z-index: 1;
  
}

.container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  
}

.container > h1 {
  font-size: 8vmin;
  font-weight: 800;
  opacity: 0;
  
}

@keyframes kenburns-left {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.container > p {
  font-size: 3vmin;
  color: var(--primary--color);
  font-weight: 600;
  opacity: 0;
}

.btn {
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 20vmin;
  height: 50px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 1.4vmin;
  font-weight: 400;
  color: var(--primary--color);
}

.btn:hover {
  background-color: rgba(180, 175, 175, 0.4);
  cursor: pointer;
}

.kenburns-left {
  animation: kenburns-left 7s 1s ease-out both;
}

section {
  width: 100vw;
  height: auto;
  background-color: #101317;
 
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 50px;
  align-items: center;
  padding-bottom: 50px;
  margin: auto;
  
  
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  width: 390px;
  transition: transform 1s, opacity 1s;

}
.flex-container-column > p {
  min-height: 250px;
  padding: 20px;
  
}

.flex-container-column > .underline {
  width: 100%;
}

.navbar-right .icon {
  display: none;
}

.content-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

section > h1 {
  padding-top: 50px;
  font-size: 5vmin;
  text-align: center;
}
#quote {
  background-image: url("snakersik_beatifull_landscape_of_beach_and_mountain_dark_and_go_72756840-fced-4432-a5e3-3e9378a0d741-transformed.jpeg");
  background-color: #101317;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
#quote::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 10, 0, 0.5);

  content: " ";
  top: 0;
  left: 0;
}
#quote > h1 {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  font-style: italic;
  transition: transform 1s, opacity 1s;
}

#author {
  display: block;
  font-style: normal;
  padding-top: 20px;
}
.quot {
  font-size: 70px;
}

.line {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
/* ------------------about us section------------- */


article{
  padding: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: #131c1e;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0;
  display: none;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  


  margin-right: auto;
  margin-left: auto;
  
  
  
}


#tab-1{
  
  top: 0;
  left: 0;
}
#tab-2{
  
  top: 0;
  left: 0;
  background-color: #182731;
  
}
#tab-3{
  top: 0;
  left: 0;
  background-color: #1e2f47;
}

article > img{
  width: 35%;
  border-radius: 20% 20px 20px 20px;
  box-shadow:  black -10px 10px 50px ;
  object-fit: cover;
  object-position: center;
  margin: auto;
  margin-right: 0;
}
article > div{
  
  max-width: 40%;
  margin: auto;
  margin-left: 0;
 
}
article  h1{
  padding: 20px;
  font-size: 40px;

}


article p{
  font-size: 32px;
}
article  span{
  display: block;
  border-bottom: #fdf5e6 2px solid;
  
}



.tab{
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  
}

.tab > p{
 
  transition: 0.7s;
  cursor: pointer;
  padding-bottom: 10px;
  font-size: 30px;
  font-style: 800;

  

}

.active-line{
  border-bottom: 2px solid royalblue;

}

.active-tab{
  opacity: 1;
  transition: opacity 2s;
  display: flex;

  
}



.tab > p:hover{
  color: rgb(49, 48, 48);
 
  
}


.contact{
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 0px;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  background-image: url('chat\ \(1\).png');
  background-position: center;
  background-size: contain;
  cursor: pointer;
  background-repeat: no-repeat;
  

}

.contact:hover{
  background-image: url(chat\ \(2\).png);
}

.modal {
  display: none;
  position: fixed; 
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}


form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #1e2f47;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
  border-radius: 20px;
  max-width: 500px;

  justify-content: center;
  align-items: center;
 
  
}
input{
  background-color: #1e2f47;
  color: var(--primary--color);
  height: 30px;
  
  border-bottom: 1px solid black;
  
 
}
label{
  font-weight: 800;
  font-size: 22px;
}
textarea{
  color: white;
  background-color: #1e2f47;
  min-height: 100px;
  font-weight: 800;

  
  resize: none;
  
 
}

form > button{
  background-color:rgba(0,0,0,0.3);
  width: 60%;
  border-radius: 20px;
  height: 50px;
  color: white;
  cursor: pointer;
  
  overflow: hidden;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(2, 48, 42, 0.3));
  background-position: 50% 50%;
  
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color .5s;
}

form > button:hover{
  background-size: 100% 100%;
  
}



.close {
  color: #aaa;
  margin-right: auto;
  font-size: 200%;
  font-weight: bold;
  cursor: pointer;
 

 

}
form > div{
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 10px;
}





/* 
------------------responsive------------------- */

@media (max-width: 1650px) {
  article{
    gap: 30px;
    width: 80%;
  }
  .flex-container{
    max-width: 1000px;
  }
  article p{
    font-size: 18px;
  }
  article h1{
    font-size: 24px;
  }
  article > img{
    width: 50%;
  }
  article > div{
  
    
    margin-top: auto;
    margin-bottom: auto;
   
  }



  .flex-container-column > p {
    font-size: 22px;
    min-height: 200px;
  }
}

@media (max-width: 908px) {
  .navbar-right.responsive .icon {
    right: 0;
    top: 0;
    text-align: right;
    
    
  }
  .navbar-right.responsive a {
    float: none;
    display: block;
    text-align: right;
    
    
    
  }
}

@media (max-width: 908px) {
  .navbar-right a {
    display: none;
  }
  .navbar-right .icon {
    display: block;
  }

  .flex-container-column {
    width: 70%;
  }

  h1 {
    font-size: 26px;
  }

  section > h1 {
    padding-top: 50px;
    font-size: 35px;
    text-align: center;
  }
  .btn {
    font-size: 100%;
    width: 30vmin;
  }
  .container > h1 {
    font-size: 15vmin;
  }
  .container > p {
    font-size: 5vmin;
  }
  #quote > h1 {
    font-size: 20px;
  }
  .quot {
    font-size: 30px;
  }
  .flex-container-column > p
  {
    min-height: auto;
    padding-bottom: 20px;
    margin: auto;
    width: 90%;
    text-align: left;
    font-size: 20px;
  }
  .flex-container-column img{
    aspect-ratio: 16 / 7;
    object-fit: cover;

  }
  .flex-container-column{
    width: 100%;
  }
  article{
    flex-direction: column;
    width: 100%;
    
  }
  article > div{
    max-width: 100%;
    margin: 0;
    width: 100%;
  }
  article > img{
    width: 80%;
    margin: auto;
    padding-bottom: 0;
  }

  article  h1{
    padding: 10px;
  }

  .tab > p{
    font-size: 20px;
  }
  form{
    width: 90%;
  }


}


@media (max-width: 700px){
  .flex-container-column > p
  {
    font-size: 16px;
}
article > p{
 font-size: 16px;
}

.tab > p{
  font-size: 18px;
}
}


@media (max-width: 500px){
  .tab{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}